{% extends "admin.html" %}
{% block content %}



    <div class="padding-md">
    <form method="post" id="123" class="ajax-form" action="">
        {% csrf_token %}
        <div class="row panel-heading">
            <div class="col-lg-6">
                <h3>{{ title }}</h3>
            </div>
            <div class="col-lg-6">
                <div class="pull-right">
                    <button onclick="$('#123').submit()" class="btn btn-default ajax">Salvar</button>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <p id="resumo">
                  {{ obj.resumo|format|safe }}
                </p>
            </div>
            <div class="col-lg-12">
                <textarea class="form-control" rows="20" id="traducao" name="traducao">{{ obj.traducao }}</textarea>
            </div>
        </div>

         <script>
        $('#resumo').mouseup(function() {
            var text=getSelectedText();
            console.log(text);
            if (text!=''){
                $.ajax({
                    url: "https://translate.googleapis.com/translate_a/single?client=gtx&sl=pt&tl=en&dt=t&q="+text,
                    error: function (req, status, err) {
                        var traducao = eval(req.responseText)[0][0][0];
                        console.log(traducao);
                        $('#traducao').val($('#traducao').val()+' '+traducao)
                    },
                    success: function (req) {
                        var traducao = req[0][0][0];
                        $('#traducao').val($('#traducao').val()+' '+traducao)
                    }
                });
            }
        });

        function getSelectedText() {
            if (window.getSelection) {
                return window.getSelection().toString();
            } else if (document.selection) {
                return document.selection.createRange().text;
            }
            return '';}
    </script>
    </form>
    </div>




{% endblock %}
